@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cyan: hsl(179, 62%, 43%);
    --brightyellow:hsl(71, 73%, 54%);
    --lightgray:hsl(204, 43%, 93%);
    --grayishblue:hsl(218, 22%, 67%);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
p{
    font-size: 16px;
}
body{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightgray);
}
main{
    margin: auto;
    max-width: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "card1 card1"
    "card2 card3";
    box-shadow: 0 20px 15px rgba(0,0,0,.1);
    border-radius: 10px;
}
.card1{
    grid-area: card1;
    padding: 30px;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 50px;
}
.card1 h2{
    color: var(--cyan);
    margin-bottom: 25px;
    font-weight: 700;
}
.highlight{
    color: var(--brightyellow);
    font-weight: 700;
}
.highlightt{
    color: var(--grayishblue);
    margin: 15px 25px 0px 0px;
}
.card2{
    grid-area: card2;
    background-color: var(--cyan);
    padding: 30px;
    border-bottom-left-radius: 10px;
}
.card2 h2 {
    color: var(--lightgray);
    margin: 10px 0px 10px 0px;
    font-weight: 600;
}
.card2 p{
    color: var(--lightgray);
    font-weight: 300;
}
.dollar h1{
    color: var(--lightgray);
    margin-right: 5px;
}

.dollar{
    display: flex;
    align-items: center;
    margin-bottom:10px ;
}
.card2 button{
    color:var(--lightgray);
    background-color: var(--brightyellow);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
   
}
.card3{
    grid-area: card3;
    background:#4ABEBD;
    padding: 30px;
    border-bottom-right-radius: 10px;
}
.card3 h2{
    color: var(--lightgray);
    margin: 10px 0px 10px 0px;
    font-weight: 600;
}
.card3 p{
    color: var(--lightgray);
    font-weight: 300;
    padding-right: 20px;
}
@media only screen and (max-width: 620px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: "card1"
        "card2"
        "card3";
        margin: 20px;
    }
    .card3{
        border-bottom-left-radius: 10px ;
    }
    .card2{
        border-radius: 0px;
    }
  }
  